*{
  padding: 0;
  margin: 0;
}

body{
  background: #222222;
}

html, body, .wrapper {
  height: 100%;
}

.wrapper{
  width: 600px;
  margin: 0 auto;
}
.main_body {
  min-height: 100%;
  background-color: #fefefe;
}

.main {
  overflow:visible;
  padding:25px 0 50px 0; /* must be same height as the footer */
  position: relative;
}

footer {
  position: relative;
  margin-top: -75px; /* negative value of footer height */
  height: 75px;
  clear:both;
}


footer a{ text-decoration: none;}
footer a:link{ color:#dd1144; }
footer a:visited{ color: #990073;}
footer a:hover{ color: #990000;}
footer a:active{ color: #aa0000;}


footer div{
  text-align: right;
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

header, footer, article h2{
  background: #aaaaaa;
  color: #2a2a2a;
}
header, article h2{
  position: relative;
  text-align: center;
}

header h1, article h2{
  padding: 0.5em;
}

.container{
  padding: 25px 0 0 0;
}

article p, article table, footer div{
  margin: 0 20px 0 20px;
}

article ul{
  margin: 0 40px 0 40px;
}

article table td{
  padding: 2px 5px;
}

article section{
  margin: 20px 0 30px 0;
}

.about, .tagline{
  float: left;
  width: 60%;
  margin: 20px;
}

.download_bar{
  list-style: none;
  position: relative;
  right:-15px;
}
.download_bar li{
  margin: 20px 0;
  text-align: right;
}
a.zip{
  background: url(../images/zip.png) no-repeat 15px 8px;
}

a.tar{
  background: url(../images/tar.png) no-repeat 15px 8px;
}

a.code {
  background: url(../images/code.png) no-repeat 15px 11px;
}

a.download-button {
  background-color:#3cb371 ;
  width: 150px;
  padding: 5px;
  display: inline-block;
  margin-left: 10px;
}

a.download-button span {
  background-position: 10px 5px;
  width: auto;
  height: auto;
  padding: 5px 10px;
  padding-left: 45px;
  display: inline-block;
  text-indent: 0!important;
  color: #fff;
}
